h1 {
    margin-top: 1.5rem;
}
.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        padding: 0.25rem 0;

        .input-group--wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            width: fit-content;

            .input--wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                label {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0.5rem;
                }
            }

            .hexa--wrapper {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

                .input--wrapper {
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 3rem;
                    }

                    label {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0.5rem;
                    }
                }
            }

            .preview--wrapper {
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .color-preview {
                    border: 1px solid black;
                    width: 2rem;
                    height: 2rem;
                }
            }
            .remove {
                color: #dc3545;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                margin-top: 9.81px; //correspond à la preview qui prend pas toute la hauteur
                margin-left: -1rem;
                //43.25 - 33.81
                :hover {
                    color: #dc354597;
                }
                svg {
                    &:active {
                        outline: none;
                    }
                }
            }
        }
    }
    //button color add sous couleur
    &__controls {
        margin-top: 0.5rem;
        width: 48rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        &__add {
            //margin-top: 0.75rem;//la div laisse suffisament
            border: 2px dashed #198754;
            width: max-content;
            //color: #198754;
            color: #0d492d;
            cursor: pointer;
            background-color: none;
            width: 80%;
            height: 2rem;
            @media (max-width: 780px) {
                //margin-top: 1rem;
                width: fit-content;
                height: fit-content;
                padding: 0.5rem 1rem;
            }
            &:hover {
                //border: 2px solid #19875498;
                //background-color: #19875498;
                border: 2px solid #3f795e;
                background-color: #3f795e;
                color: white;
            }
        }
        &__reset {
            border: 2px dashed #dc3545;
            width: max-content;
            //color: #dc3545;
            color: #821823;
            cursor: pointer;
            background-color: none;
            width: 20%;
            height: 2rem;
            @media (max-width: 780px) {
                //margin-top: 1rem;
                width: fit-content;
                height: fit-content;
                padding: 0.5rem 1rem;
            }
            &:hover {
                //border: 2px solid #dc354598;
                //background-color: #dc354598;
                border: 2px solid #b13f48;
                background-color: #b13f48;
                color: white;
            }
        }
    }

    &__error-message {
        text-align: center;
        vertical-align: middle;
        //opacity: 1;
        font-size: 0.75em;
        color: red;
    }
    &__import,
    &__export {
        margin-top: 0.75rem;
        padding: 0.5rem 0.75rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        color: white;
        //border: none;
        border: 1px solid #6c757d;
        background-color: #6c757d;
        //definir la taille même si ça change rien
        width: 10.5rem;
        cursor: pointer;
        &:hover {
            background-color: #5a6268;
        }
        &.active {
            border-radius: 0.25rem 0.25rem 0 0;
            color: #6c757d;
            //border: 1px solid #6c757d;
            background-color: white;
            &:hover {
                background-color: ghostwhite;
            }
        }

        &--wrapper {
            //active style
            //pour gérer le faite que les élément passe au dessus
            position: relative;
            div {
                // same as options--wrapper
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                //plus besoin
                // &:nth-child(1) {
                //     border-radius: 0.25rem 0.25rem 0 0;
                // }

                &:nth-child(4) {
                    border-radius: 0 0 0.25rem 0.25rem;
                }

                div {
                    font-size: 0.75rem;
                    letter-spacing: 0.06rem;
                    width: 8.5rem;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    border-radius: 0;
                    font-weight: bold;
                    color: white;
                    border: none;
                    background-color: #6c757d;
                    &:hover {
                        background-color: #5a6268;
                    }
                }
            }
        }

        &__options {
            //pour gérer le faite que les élément passe au dessus
            position: absolute;
            z-index: 1;
            //display: flex;
            //align-items: self-start;//sert pas
            //justify-content: first baseline;
            top: 5.15rem;
            //top: 190%;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

// Section Controls - 2 section
.controls {
    padding: 2rem 0 1.5rem 0;

    button {
        padding: 0.5rem 1rem;
        //width: 15rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        font-weight: bold;
        color: white;
    }
    .refresh-table {
        background-color: #0d6efd;
        border: none;
        &:hover {
            background-color: #0b5ed7;
        }
    }
}

// Section table
.matrix {
    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            width: 125px;
            height: 30px;
            line-height: 30px;
            background: rgba(255, 255, 255, 0.4);
            text-align: center;
            margin-right: 5px;
            color: rgba(0, 0, 0, 0.6);
        }
        li.actif {
            background: white;
            color: black;
        }
    }
    &__table--wrapper {
        display: flex;
        justify-content: center;

        table {
            display: none;
            tr {
                th {
                    padding: 0.5rem 1rem;
                }
                td {
                    padding: 0.5rem 1rem;
                }
            }
        }
        table.actif {
            display: block;
        }
    }
    &__table__export {
        &--wrapper {
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            //pour gérer le faite que les élément passe au dessus
            position: relative;

            button {
                padding: 0.5rem 1rem;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                border-radius: 0.25rem;
                font-weight: bold;
                color: white;
                //border: none;
                border: 1px solid #6c757d;
                background-color: #6c757d;
                //definir la taille même si ça change rien
                width: 10.5rem;
                &:hover {
                    background-color: #5a6268;
                    //border-color: #545b62;
                }
                &.active {
                    border-radius: 0.25rem 0.25rem 0 0;
                    color: #6c757d;
                    //border: 1px solid #6c757d;
                    background-color: white;
                    &:hover {
                        background-color: ghostwhite;
                    }
                }
            }
            div {
                // __options
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                //pour gérer le faite que les élément passe au dessus //ça n'a aucune fucking sens ça marche avec une classe mais pas sans classe
                // position: absolute;
                // z-index: 1;
                // top: 4.75rem;
                // left: 0;
                // width: 100%;
                // height: 100%;

                //plus besoin
                // &:nth-child(1) {
                //     border-radius: 0.25rem 0.25rem 0 0;
                // }

                &:nth-child(4) {
                    border-radius: 0 0 0.25rem 0.25rem;
                }

                div {
                    font-size: 0.75rem;
                    letter-spacing: 0.06rem;
                    width: 8.5rem;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    border-radius: 0;
                    font-weight: bold;
                    color: white;
                    border: none;
                    background-color: #6c757d;
                    &:hover {
                        background-color: #5a6268;
                    }
                }
            }
        }
        &__options {
            position: absolute;
            z-index: 1;
            top: 4.75rem;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__export__canvas--wrapper {
        margin-top: 2.5rem;
        display: none;
        &.actif {
            gap: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    &__legend {
        &--wrapper {
            margin-top: 4rem;
            display: block ruby;
        }
        div {
            display: none;
        }
        div.actif {
            width: 30rem;
            text-align: left;
            display: block;
        }
    }
}

// Last section qui sera probablement retiré
.exports {
    padding-top: 1rem;
    &__btn {
        font-size: 1.1rem;
        padding: 0.5rem 0.75rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        color: white;
        border: none;
        background-color: #6c757d;
        cursor: pointer;
        &:hover {
            background-color: #5a6268;
        }
        &:active {
            border-radius: 0.25rem 0.25rem 0 0;
            color: #6c757d;
            border: 1px solid #6c757d;
            background-color: white;
            &:hover {
                background-color: ghostwhite;
            }
        }
    }
}

.footer {
    margin-top: 3rem;
}

.hidden {
    display: none !important;
}

.drop-active {
    background-color: blue;
}
