.color-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .input-group--wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .input--wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            label {
                display: flex;
                justify-content: flex-start;
                padding-left: 0.5rem;
            }
        }

        .hexa--wrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .input--wrapper {
                display: flex;
                flex-direction: column;

                input {
                    width: 3rem;
                }

                label {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0.5rem;
                }
            }
        }

        .preview--wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .color-preview {
                border: 1px solid black;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
//not used anymore for now
.color__controls {
    padding-top: 1rem;
    display: flex;
    justify-content: right;
    margin: 0 5rem;
    gap: 0.5rem;
    &__imports,
    &__exports {
        padding: 0.5rem 0.75rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        color: white;
        border: none;
        background-color: #6c757d;
        &:hover {
            background-color: #5a6268;
            //border-color: #545b62;
        }
        &:active {
            border-radius: 0.25rem 0.25rem 0 0;
            color: #6c757d;
            border: 1px solid #6c757d;
            background-color: white;
            &:hover {
                background-color: ghostwhite;
            }
        }
        span {
            cursor: pointer;
        }
    }

    &__exports {
        &--active {
            z-index: 2;
            display: flex;
            flex-direction: column;
        }
    }

    &__imports {
        &--active {
            z-index: 2;
            display: flex;
            flex-direction: column;
        }
    }
}
//end

.controls {
    padding: 2rem 0 1.5rem 0;

    button {
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        font-weight: bold;
        color: white;

        &:nth-child(1) {
            margin-right: 0.5rem;
        }
        &:nth-child(2) {
            margin-right: 0.5rem;
        }
        &:nth-child(1n) {
            margin-bottom: 0.75rem;
        }
    }
    .addColor {
        background-color: #198754;
        border: none;
        &:hover {
            background-color: #157347;
            //border-color: #146c43;
        }
    }
    .deleteColor {
        background-color: #fd7e14;
        border: none;
        &:hover {
            background-color: #db6a0e;
            //border-color: #e77314;
        }
    }
    .deleteAllColor {
        background-color: #dc3545;
        border: none;
        &:hover {
            background-color: #bb2d3b;
            //border-color: #b02a37;
        }
    }
    .refreshTable {
        background-color: #0d6efd;
        border: none;
        &:hover {
            background-color: #0b5ed7;
            //border-color: #0a58ca;
        }
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabs li {
    width: 125px;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.6);
}
.tabs li.actif {
    background: white;
    color: black;
}

.table--wrapper {
    display: flex;
    justify-content: center;

    table {
        display: none;
        tr {
            th {
                padding: 0.5rem 1rem;
            }
            td {
                padding: 0.5rem 1rem;
            }
        }
    }
    table.actif {
        display: block;
    }
}

.legend {
    &--wrapper {
        margin-top: 4rem;
        display: block ruby;
    }
    text-align: left;
    div {
        display: none;
    }
    div.actif {
        display: block;
    }
}

.table__export--wrapper {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        font-weight: bold;
        color: white;
        border: none;
        background-color: #6c757d;
        &:hover {
            background-color: #5a6268;
            //border-color: #545b62;
        }
        &.active {
            border-radius: 0.25rem 0.25rem 0 0;
            color: #6c757d;
            border: 1px solid #6c757d;
            background-color: white;
            &:hover {
                background-color: ghostwhite;
            }
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:nth-child(1) {
            border-radius: 0.25rem 0.25rem 0 0;
        }

        &:nth-child(4) {
            border-radius: 0 0 0.25rem 0.25rem;
        }

        div {
            font-size: 0.75rem;
            letter-spacing: 0.06rem;
            width: 8.5rem;
            padding: 0.5rem 1rem;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            border-radius: 0;
            font-weight: bold;
            color: white;
            border: none;
            background-color: #6c757d;
            &:hover {
                background-color: #5a6268;
            }
        }
    }
}
.export__canvas--wrapper {
    gap: 0.5rem;
    margin-top: 2.5rem;
    display: none;
    &.actif {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.hidden {
    display: none;
}

.color__error-message {
    text-align: center;
    vertical-align: middle;
    //opacity: 1;
    font-size: 0.75em;
    color: red;
}

.color__import {
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 0.25rem;
    color: white;
    border: none;
    background-color: #6c757d;
    cursor: pointer;
    &:hover {
        background-color: #5a6268;
    }
    &:active {
        border-radius: 0.25rem 0.25rem 0 0;
        color: #6c757d;
        border: 1px solid #6c757d;
        background-color: white;
        &:hover {
            background-color: ghostwhite;
        }
    }
}

.remove {
    color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 9.81px; //correspond à la preview qui prend pas toute la hauteur
    margin-left: -1rem;
    //43.25 - 33.81
}

.exports {
    padding-top: 1rem;
    &__btn {
        font-size: 1.1rem;
        padding: 0.5rem 0.75rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 0.25rem;
        color: white;
        border: none;
        background-color: #6c757d;
        cursor: pointer;
        &:hover {
            background-color: #5a6268;
        }
        &:active {
            border-radius: 0.25rem 0.25rem 0 0;
            color: #6c757d;
            border: 1px solid #6c757d;
            background-color: white;
            &:hover {
                background-color: ghostwhite;
            }
        }
    }
}
